version: '3.8'
services:
  backend:
    build:
      context: ./backend
    volumes:
      - ./:/app:ro
    ports:
      - '8000:8000'
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
